<h1>You'll be first to get access when we launch</h1>

<p>Now, don't leave your filmmaking friends behind:</p>
<p>Share the early access.</p>
<p>Share the link via e-mail, Snap, Insta, handwritten note, or other preferred media. Click Facebook, Twitter or LinkedIn below, or copy and paste the link; then track your influence.</p>

<p>
  Share your referral link
  <%= link_to "#{root_url}?ref=#{@user.referral_code}", "#{root_url}?ref=#{@user.referral_code}", target: '_blank' %>
</p>

<p>
  Share the news:
  </br>
  <%= link_to "Facebook", "https://www.facebook.com/sharer/sharer.php?u=#{root_url}?ref=#{@user.referral_code}", target: '_blank' %>
  </br>
  <%= link_to "Twitter", "https://twitter.com/share?url=#{root_url}?ref=#{@user.referral_code}&text=#{CGI::escape(@twitter_message)}", target: '_blank' %>
  </br>
  <%= link_to "LinkedIn", "https://www.linkedin.com/shareArticle?mini=true&url=#{root_url}?ref=#{@user.referral_code}", target: '_blank' %>
</p>
