<div class="key"></div>
<p class="byline brandon">Be the first to try</p>
<p class="policy brandon">
  Enter your email to be the first to try, and to know when anything new happens.<br/>
  (We won't spam you, and will not share your email with anyone else.)
</p>
<div class='logo-image'>
  <%= image_tag('refer/logo.png') %>
</div>
<p class="logo">
  Stay Curious. Create Better.
</p>
<%= form_for @user, :url => { :action => "create" } do |f| %>
  <%= f.email_field :email, :placeholder => "Enter e-mail", :class => "email brandon" %>
  <input class="submit brandon" name="commit" type="submit" value="Step Inside" />
<% end %>
