<div class="key"></div>
<p class="byline brandon">Be the first to know</p>
<p class="policy brandon">
  By clicking the button below you agree with our
  <%= link_to 'privacy policy.', 'https://www.iubenda.com/privacy-policy/83565355', target: '_blank' %>
</p>
<div class='logo-image'>
  <%= image_tag('refer/logo.png') %>
</div>
<p class="logo">
  Stay Curious. Create Better.
</p>
<%= form_for @user, :url => { :action => "create" } do |f| %>
  <%= f.email_field :email, :placeholder => "Enter e-mail", :class => "email brandon" %>
  <input class="submit brandon" name="commit" type="submit" value="Step Inside" />
<% end %>
