<div class="hero">
  <div class="flex-cont">
    <div class="flex-item">
      <p class="large brandon">Drylab 3 is coming!</p>
      <div class="small-wrap">
        <p class="small brandon">Say hello to a new standard.</p>
        <p class="small brandon">Say good bye to loosing overview</p>
        <p class="small brandon"> and golden takes.</p>
      </div>
      <p class="small brandon">Stay Curious. Create Better.</p>
    </div>
    <div class="flex-item">
      <%=video_tag('landing_page_video.mp4', size: "500x300", autoplay: true, loop: true)%>
    </div>
  </div>
</div>

<div class="form-wrap clearfix <%= "ended" if Rails.application.config.ended %>">
  <% if Rails.application.config.ended %>
    <%= render "users/campaign_ended" %>
  <% else %>
    <%= render "users/campaign_ongoing" %>
  <% end %>
</div>
